<form action="/k" method="post" id="login">
  <h2>Link</h2>
  <label for="destination">Destination</label>
  <input type="text" value="" name="destination" />
  <label for="willDie">Temporary</label>
  <input type="radio" value="" name="willDie" />
  <div class="submit">
    <button>Create</button>
  </div>
</form>
